* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(141, 138, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

#team {
    text-align: center;
    background: yellowgreen;
    color:darkgreen ;
    width: 40%;
    margin: auto;
    padding: 15px;
    font-size: 30px;
    font-weight:600;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 50%;
}

.center-c {
    background-image: url(../js/xxx.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#member1, #member2, #member3, #member4, #member5, #member6, #member7, #member8, #member9 {
    width: 33%;
    padding: 10px;
    background-color: rgba(25, 50, 20, 0.5);
    margin-bottom: 16px;
}

#member1:hover, #member2:hover, #member3:hover, #member4:hover, #member5:hover, #member6:hover, #member7:hover, #member8:hover, #member9:hover {
    background:pink;
    color: green;
    text-align: center;
}